<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>*{margin:0;padding:0; font-family: roboto,sans-serif;}.header{background-color: #000000;height: 8em;width: 100%;display: flex;align-items: center;}.main{display: flex; height: 100em;}.leftCol, .rightCol{flex: 1; background-color: #129609;}.mainBody{flex: 8; background-color: #CDD6DD;}</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Account</title>
</head>
<body>
    <!-- <div class="container"> -->
        <div class="header" style="position: fixed;">
            <div class="headerBody" style="height: 8em; display: flex; align-items: center; justify-content: space-between; padding-left: 8%;padding-right: 11%;width: 100%;">
                <div class="logo" style=" height:8em;margin-left:2%;" >
                    <img src="../static/images/Gamer Kings-logos_white.png" alt="logo" style=" height:8em;cursor: pointer;" onclick="window.location.href='/'">
                </div>
                <div class="navBar" style="display: flex; gap: 1em; ">
                    <a href="/account/{{session.user_id}}" style="font-size: 28px; color:white; text-decoration: none;">Account</a>
                    <h3 style="color: white; font-size: 28px;">|</h3>
                    <a href="/games" style="font-size: 28px; color:white; text-decoration: none;">Games</a>
                    {% if session.logged_in == True %}
                    <h3 style="color: white; font-size: 28px;">|</h3>
                    <a href="/logout" style="font-size: 28px; color:white; text-decoration: none;">Logout</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="main">
            <div class="leftCol"></div>
            <div class="mainBody" style="margin-top:8em">
                <!-- Main body items here -->
                <h1 style="text-align: center; margin-top: .5em;">{{session.user_name}}</h1>
                <div class="startButton" style="margin:1em; text-align: center;">
                    <a href="/start/{{session.user_id}}" class="neonButton"
                    style="cursor: pointer;
                    border:.125em solid rgb(14, 231, 14);
                    color: rgba(5, 185, 5, 0.986);
                    text-decoration: none;
                    padding: .5em 1em;
                    border-radius:.25em;
                    text-shadow:0 0 .2em #FFF7, 0 0 .3em rgb(21, 223, 21);
                    box-shadow:inset 0 0 .5em rgb(27, 250, 27), 0 0 .5em rgb(27, 250, 27);">
                    Start Game</a>
                </div>
                <div class="editUser">
                    <form action="/user/update" method="post" class="col-6 mx-auto">
                        <h2 class="text-center">Edit Account</h2>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <input type="hidden" name="id" value={session.user_id}}>
                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input type="text" name="first_name"  class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" name="last_name" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" name="email"  class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="user_name">User Name:</label>
                            <input type="text" name="user_name"  class="form-control" value="{{session.user_name}}">
                        </div>
                        <div class="button" style="display:flex;justify-content:space-between;">
                        <input type="submit" value="Update Account" class="btn btn-success" style="margin-top:1em; background-color:#129609; border: 0px solid;">
                            <a href="/account/destroy/{{session.user_id}}" ><input value="Delete Account" class="btn btn-success" style="margin-top:1em; background-color:#e80202c9; border: 0px solid;"></a>
                        </div>
                    </form>
                </div>
                <div class="bodyBottom" style="display: flex; padding: 1em 5em; margin: 2em auto;width:70%;">
                    <div class="leftBody" style="text-align:center;flex:1;">
                        <a href="/games">
                            <input type="button" name="bet" class="btn" style="background-color: #129609; color: white; margin:.5em 0;" value="Place Bet">
                        </a>
                        <h3 style="margin: .5em 0;">Active Bets</h3>
                        <a href="">Game 1</a>
                    </div>
                    <div class="rightBody" style="text-align:center;flex:2;">
                        <h2 style="color: black; font-weight: bold;">Total Points: {{user.total_points}}</h2>
                        <div class="navBar" style="display: flex; gap: 1em; justify-content: center;">
                            <a href="/add/{{session.user_id}}" style="font-size: 20px; color:blue; text-decoration: none;font-weight: bold;">Add Points</a>
                            <h3 style="color: black; font-size: 20px;">|</h3>
                            <a href="/spend/{{session.user_id}}" style="font-size: 20px; color:blue; text-decoration: none;font-weight: bold;">Spend Points</a>
                        </div>
                        <table class="table" style="border: .2em solid black;">
                            <h2 style="border-top: .1em solid black;border-left: .1em solid black;border-right: .1em solid black;margin-bottom: 0%;">History</h2>
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Transaction #</th>
                                <th scope="col">Activity</th>
                                <th scope="col">Points</th>
                                <th scope="col">Date and Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if tr_count > 5 %}
                                {% for ind in range(5) %}
                                <tr>
                                    <td>{{user.transactions[ind].id}}</td>
                                    <td>{{user.transactions[ind].activity}}</td>
                                    <td>{{user.transactions[ind].points}}</td>
                                    <td>{{user.transactions[ind].created_at}}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                {% for transaction in user.transactions %}
                                <tr>
                                    <td>{{transaction.id}}</td>
                                    <td>{{transaction.activity}}</td>
                                    <td>{{transaction.points}}</td>
                                    <td>{{transaction.created_at}}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                        <a href="/transactions/{{session.user_id}}">See More</a>
                    </div>
                </div>
            </div>
            <div class="rightCol"></div>
        </div>        
    <!-- </div> -->
    
</body>
</html>