<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>*{margin:0;padding:0;}.header{background-color: #474A48;height: 15em;}.main{display: flex; height: 100em;}.leftCol, .rightCol{flex: 1; background-color: #537A5A;}.mainBody{flex: 8; background-color: #CDD6DD;}</style>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <!-- header items here -->
        </div>
        <div class="main">
            <div class="leftCol"></div>
            <div class="mainBody">
                <!-- Main body items here -->
            </div>
            <div class="rightCol"></div>
        </div>        
    </div>
</body>
</html>