<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: roboto, sans-serif;
        }

        .header {
            background-color: #000000;
            height: 8em;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .main {
            display: flex;
            height: 100em;
        }

        .leftCol,
        .rightCol {
            flex: 1;
            background-color: #129609;
        }

        .mainBody {
            flex: 8;
            background-color: #CDD6DD;
        }

        .game {
            margin: 2em;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <!-- <div class="container"> -->
    <div class="header" style="position: fixed;">
        <div class="headerBody"
            style="height: 8em; display: flex; align-items: center; justify-content: space-between; padding-left: 8%;padding-right: 11%;width: 100%;">
            <div class="logo" style=" height:8em;margin-left:2%;" >
                <img src="/static/images/Gamer Kings-logos_white.png" alt="logo" style=" height:8em;cursor: pointer;" onclick="window.location.href='/'">
            </div>
            <div class="navBar" style="display: flex; gap: 1em; ">
                <a href="/account/{{session.user_id}}" style="font-size: 28px; color:white; text-decoration: none;">Account</a>
                <h3 style="color: white; font-size: 28px;">|</h3>
                <a href="/games" style="font-size: 28px; color:white; text-decoration: none;">Games</a>
                {% if session.logged_in == True %}
                <h3 style="color: white; font-size: 28px;">|</h3>
                <a href="/logout" style="font-size: 28px; color:white; text-decoration: none;">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="main">
        <div class="leftCol"></div>
        <div class="mainBody" style="margin-top:8em;text-align:center;">
            <!-- Main body items here -->
            <h1 style="font-weight: bold;">Place Your Bet!</h1>
            <h2>Gamer King {{user.user_name}}!</h2>
            <h2>Available Points: {{user.total_points}}</h2>
            <h3 style="font-weight: bold;">{{game.name}}</h3>
            <img src="{{game.box_art_url}}" alt="box art">
            <form action="/start/game/{{select}}/{{game.name}}" method="post" style="width: 12%;margin:1em auto;">
                {% if select == 'Random' %}
                <input type="hidden" value="1" name="game_id">
                {% else %} 
                <h4>Select {{select}}:</h4>
                <select name="gamer" id="game_id" style="margin-bottom:.5em;">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                {% endif %}
                <div class="form-group">
                    <label for="bet" style="margin-bottom:1em;">Amount To Bet:</label>
                    <input type="text" class="form-control" placeholder="Points" name="bet_amount" style="text-align:center;">
                    <select name="action" id="bet" style="margin-top:1em;">
                        <option value="WIN">WIN</option>
                        <option value="LOSE">LOSE</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary"
                    style="margin-top:1em;background-color:#CDD6DD;
                    border:.125em solid rgb(14, 231, 14);
                    color: rgba(5, 185, 5, 0.986);
                    text-decoration: none;
                    padding: .5em 1em;
                    border-radius:.25em;
                    text-shadow:0 0 .2em #FFF7, 0 0 .3em rgb(21, 223, 21);
                    box-shadow:inset 0 0 .5em rgb(27, 250, 27), 0 0 .5em rgb(27, 250, 27);">PLACE BET</button>
            </form>
            <div class="stats"
                style="margin:auto;margin-top:2em;width: 750px; height:auto; text-align:center; border: 2px solid black;border-radius: 10px;padding:1em;background-color: whitesmoke;">
                <p style="margin:0">Win Conditions</p>
                <p style="margin:0">Bet Odds</p>
                <p style="margin:0">Gamer Statistics</p>
                <p style="margin:0"># of people betting</p>
            </div>
        </div>
        <div class="rightCol"></div>
    </div>
    <!-- </div> -->
</body>

</html>