<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body{text-align:center}p{background-color: color}</style>
    <title>Playground
    </title>
</head>
<body>
    <div class="container">
        <h1>Welcome!</h1>
        {% for x in range(0,times): %}
        <p style="display: inline-block; border: 2px solid black; background-color: {{color}}; width: 200px; height: 200px; margin: 25px 25px" class="boxest">{{ phrase }}</p>
        {% endfor %}
    </div>
</body>
</html>